body {
  font-family: "Montserrat", sans-serif;
  background-color: #002b43;
  color: #fff;
}
h1,
h2 {
  font-family: "Fredoka One", cursive;
}
.btn {
  background-color: #3aedb1;
  color: #002b43;
  font-family: "Fredoka One", cursive;
}
.btn:hover {
  background-color: #a8d7e9;
}

/** LOGIN PAGE */
.Login {
  height: 100vh;
}

/** TRANSLATION PAGE */
.signsCard {
  border: 0;
  color: #002b43;
}
.cardFooter {
  background-color: #a8d7e9;
}

/** HEADER */
.navbar {
  background-color: #a8d7e9;
  font-family: "Fredoka One", cursive;
}
.linkIcon {
  font-size: 3rem;
  color: #002b43;
}

/** PROFILE PAGE */
.cardHeader {
  background-color: #a8d7e9;
  color: #002b43;
}
.profileCard {
  border: 0;
}
